.header {
  height: auto;
  background-color: #003A73;
  font-family: 'Fira Sans', sans-serif;
  color: #FFF;
  font-size: 20px;
  padding: 2%;
  margin: 0 auto;
}

.clickstreams {
  margin: 4%;
  font-size: 16px;
  font-weight: bolder;
}